<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet"  href="CSS/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</head>
<body>
    <br>
    <div class="container" width: 90%>
        <div class="jumbotron">
        <h1 class='text-center'>Missions to Mars</h1>
        <p class='text-center'><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        
        <h2><strong>Mars Stuff</strong></h2>
        <h4><strong>{{mars.title}}</strong></h4>
        <p>{{mars.paragraph}}</p>
        <br>
        <div class='row'>
            <div class="col-lg-8">
                <h2><strong>Mars Image</strong></h2>  
                <img src= {{ mars.featured_image_url | default('static/images/error.png', true) }} alt="featured_image_url" style="width:720px;height:500px;"/>     
            </div>
            <div class="col-lg-4 text-left">
                <div class="panel panel-default">
                    <div class="panel-heading h4"><strong>Weather on Mars</strong></div>
                    <div class="panel-body">
                        {{ mars.weather }}
                    </div>
                </div>
                <br>
                <h2>Mars Facts</h2>
   
                    {{mars.html}}
                
            </div>
        </div>       
        <br>
        <h2 class='text-center'><strong> Mars Hemispheres</strong></h2>
        <hr>
        <div class="row">
            {% for hemisphere in mars.hemisphere_urls %}
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src= {{hemisphere.img_url | default('static/images/error.png', true) }} alt="hemi1" class='borderbox' style="width:400px;height:400px;"/>
                        <p class='h4 text-center'>{{ hemisphere.title}}</p>
                    </div>
                </div>
            {% endfor %}
                <!-- <div class="col-lg-6 text-right">
                </div>
                <div class="col-lg-6 text-left">
                    <img src= {{mars.hemisphere_urls[1].img_url | default('static/images/error.png', true) }} alt="hemi2" class='borderbox' style="width:400px;height:400px;"/>
                    <p class='h4'>{{mars.hemisphere_urls[1].title}}</p>
                </div> -->
        </div>        
        <!-- <div class="row">
                <div class="col-lg-6 text-right">
                    <img src={{mars.hemisphere_urls[2].img_url | default('static/images/error.png', true) }} alt="hemi3" class='borderbox' style="width:400px;height:400px;"/>
                    <p class='h4 text-center'>{{mars.hemisphere_urls[2].title}}</p>
                </div>
                <div class="col-lg-6 text-left">
                    <img src= {{mars.hemisphere_urls[3].img_url | default('static/images/error.png', true) }} alt="hemi4" class='borderbox' style="width:400px;height:400px;"/>
                    <p class='h4'>{{mars.hemisphere_urls[3].title}}</p>
                </div>
        
        </div>  -->
    </div>  

</body>
</html>